.footer {
    position: relative;
    background-image: url('../../../assets/img/footer-bg.jpg');
    color: #959595;
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.logoOverlay {
    position: absolute;
    bottom: -80px;
    left: 1000px;
    width: 600px;
    transform: rotate(-20deg);
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
}


.nav {
    width: 80%;
    display: flex;
    z-index: 2;
    gap: 10px;
    margin-left: 10%;
    justify-content: flex-start;
}

.column {

    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 20px;
}


.title {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}


.link {
    text-decoration: none;
    color: #959595;
    font-size: 16px;
}

.link:hover {
    color: #0282f9;
}