.header ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin: 30px;
}

.header ul li {
    list-style-type: none;
    font-weight: bold;
}

.header ul li a {
    padding: 10px;

}

.header ul li a.active,
.header ul li a:hover {
    background-color: transparent;
    border-bottom: 2px solid lightblue;
}


.header figure {
    text-align: center;
}

.header nav {
    font: sans-serif;
}

.header a {
    color: dimgray;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
}