.container {
    display: flex;
    background-color: black;
    color: white;
    padding: 40px 0;
    justify-content: space-between;
}

.items {
    display: flex;
    margin-right: 8%;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-left: 15px;

    p {
        color: #0282f9;
    }
}


.item {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
    }
}

.button {
    background: transparent;
    border: 2px solid #0282f9;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10%;
}